.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 120px;
    color: white;
}

.nav-logo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 42px;
    font-weight: 500;
    cursor: pointer;
}
.nav-logo span{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 42px;
    font-weight: 590;
    color: rgb(20, 175, 25);
}

.nav-menu{ 
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 90px;
    cursor: pointer;
}
.nav-home:hover{ 
    display: flex;
    align-items: center;
    list-style: none;
    color: rgb(20, 175, 25);
    font-size: 18px;
    gap: 90px;
    transition: .5s;
}
.nav-about:hover{ 
    display: flex;
    align-items: center;
    list-style: none;
    color: rgb(20, 175, 25);
    font-size: 18px;
    gap: 90px;
    transition: .5s;
}
.nav-Explore:hover{ 
    display: flex;
    align-items: center;
    list-style: none;
    color: rgb(20, 175, 25);
    font-size: 18px;
    gap: 90px;
    transition: .5s;
}
.nav-contact{
    border-radius: 50px;
    padding: 10px 40px;
    background: #fff;
    color: #262626;
    color: rgb(9, 222, 9);
}
.nav-contact:hover{ 
    display: flex;
    align-items: center;
    list-style: none;
    color: black;
    font-size: 18px;
    gap: 90px;
    background: rgb(9, 222, 9);;
    transition: .5s;
}
